html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: sans-serif;
	line-height: 20px;
	color: #b1b4bb;
	background-color: #323a45;

}

a {
	color: #fff;
	font-weight: 200;
}

a:hover {
	color: red;
}

.header-background {
	position: relative;
	display: block;
	overflow: visible;
	top: 0;
	height: auto;
	min-height: 750px;
	padding-bottom: 70px;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58,59,69,0.1)))*/
	background-image: linear-gradient(100deg, rgba(58,59,69,0.55),rgba(58,59,69,0.74)), url(mount2.jpg);
	flex-direction: column;
	background-position: 0px 0px, 100% 50%;
	background-size: cover;
	white-space: normal;
	object-fit: fill;
	-o-object-fit: fill; 
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	background-attachment: scroll;
}


.sticky-nav {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	padding: 10px;
	z-index: 1;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	-ms-grid-row-align: auto;
	align-self: auto;
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	background-color: rgba(12,32,55,0.5);
	background-attachment: scroll;
}

.navbar .navbar-brand a {
	padding: 1rem 0;
	display: block;
	text-decoration: none;
}

.navbar-brand img{
	/*font-size: 1.5rem;*/
	color: white;
	max-width: 130px;
	position: absolute;
	margin-top: -70px;
}

.cool-link::after {
 	content: '';
 	display: block;
 	width: 0;
 	height: 3px;
 	background: #009688;
 	transition: width .3s;
}
.cool-link:hover::after {
	width: 100%;
	transition: width .3s;
}

.navbar-toggler {
	border: none;
	padding: 10px 6px;
	outline: none;	
}

.navbar-toggler span {
	display: block;
	width: 22px;
	height: 2px;
	border: 1px;
	background: white;
}

.navbar-toggler span + span {
	margin-top: 4px;
	width: 22px;
}

.navbar-toggler span + span + span {
	width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 1.4rem;
	font-size: 1rem;
	position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
	color: red;
}

.btn {
	background-color: red;
	color: white;
	border-radius: 10px;
	padding: .5rem 1rem;
	font-size: 1rem;

}

.btn:hover {
	background-color: #0a3d62;
	color: white;
}

.heading {
	margin-top: 180px;
	margin-bottom: 8px;
	min-height: 100px;
	font-size: 5rem;
	font-weight: bold;
	line-height: 1.4;
	text-align: center;
	color: white;
}

.column-left {
	min-height: 750px;
	background-image: /*linear-gradient(100deg, rgba(12,32,51,0.55),rgba(12,32,51,0.74)),*/ url(wallpa.jpg);
	background-position: 0px 0px, 100% 50%;
	background-size: cover;
	background-attachment: scroll;
	object-fit: cover;
	-o-object-fit: cover;
	
}

.column-right .section-title {
	margin-top: 40px;
	padding: 5rem 2rem 0rem 5rem;
	font-size: 2.5rem;
	color: #fff;
	font-weight: 500;
}

 .paragraph {
	margin-top: 15px;
	/*padding: 1rem 5rem 1rem 5rem;*/
	font-size: 1.1rem;
	color: #b1b4bb;
	line-height: 1.4;
	text-align: justify;
}

.our-service-right {
	min-height: 750px;
	background-image: /*linear-gradient(100deg, rgba(12,32,51,0.55),rgba(12,32,51,0.74)),*/ url(wallpa1.jpg);
	background-position: 0px 0px, 100% 50%;
	background-size: cover;
	background-attachment: scroll;
	object-fit: cover;
	-o-object-fit: cover;
}

.service-section {
	margin-top: 70px;
	text-align: justify;
	color: white;
	line-height: 1.4;
	font-size: 2.5rem;
	font-weight: 500;
}

.service-title-1  {
	padding: 1rem 2rem 1rem 4rem;
	font-size: 1.2rem;
	color: white;

}

.service-title-2 {
	padding: 1rem 5rem 1rem 4rem;
	font-size: 1.2rem;
	color: white;

}

.service-paragraph-1 {
	margin-top: 15px;
	padding: 0rem 4rem 1rem 4rem;
	font-size: 1.1rem;
	line-height: 1.4;
	text-align: justify;
}


.service-paragraph-2 {
	margin-top: 15px;
	padding: 0rem 4rem 1rem 4rem;
	font-size: 1.1rem;
	line-height: 1.4;
	text-align: justify;
}

.fa, .fas {
	font-size: 2rem;
	color: red;
}

.service-1 .fa {
	padding: 3rem 2rem 1rem 4rem;
}


.service-2 .fas {
	padding: 3rem 5rem 1rem 4rem;
}

.portfolio {
	min-height: 750px;
	overflow: hidden;
	display: grid;

}

.gallery {
	margin-top: 30px;
	min-height: 252px;
	background-position: 0px 0px;
	background-size: cover;
	opacity: 1;
}

.img-1 {

	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	background-image: /*linear-gradient(100deg, rgba(12,32,51,0.55),rgba(12,32,51,0.74)),*/ url(mount1.jpg);
}

.img-2 {
	margin-right: 30px;
	margin-bottom: 30px;
	background-image: /*linear-gradient(100deg, rgba(12,32,51,0.55),rgba(12,32,51,0.74)),*/ url(mount2.jpg);
}

.img-3 {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	background-image: /*linear-gradient(100deg, rgba(12,32,51,0.55),rgba(12,32,51,0.74)),*/ url(mount3.jpg);
}

.img-4 {
	margin-right: 30px;
	margin-bottom: 30px;
	background-image: /*linear-gradient(100deg, rgba(12,32,51,0.55),rgba(12,32,51,0.74)),*/ url(mount4.jpg);
}

.img-5 {
	max-width: 100%;
	height: auto;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	background-image: /*linear-gradient(100deg, rgba(12,32,51,0.55),rgba(12,32,51,0.74)),*/ url(mount6.jpg);
}

.img-6 {
	margin-right: 30px;
	margin-bottom: 30px;
	background-image: /*linear-gradient(100deg, rgba(12,32,51,0.55),rgba(12,32,51,0.74)),*/ url(mount5.jpg);
}

.portfolio-right {
	/*min-height: 700px;*/
}


.text-left-block {
	width: 100%;
	left: 0;
	height: 100%;
	z-index: 999;
	overflow: hidden;
}

.text-left-block .left-center-text {
	display: table;
	position: relative;
	padding: 0 10%;
	text-align: left;
}

.text-left-block .left-center-text .left-center-part {
	display: table-cell;
	vertical-align: middle;
}

.text-left-block .left-center-text .left-center-part h3 {
	font-weight: 500;
	color: white;
}

.team-section {
	font-size: 2.2rem;
	font-weight: 500;
	margin-top: 70px;
	line-height: 1.4;
	color: white;
}

.team-paragraph {
	font-size: 1.1rem;
	
}

.block-team {
	display: grid;
	grid-template-columns:;
	margin:1rem 0 0;
}

 .block-team img .team-member {
	width: 200px;
	object-fit: fill;
}

.block-team h3 {
	margin-top: 10px;
	font-size: 1.4rem;
	color: #fff;
}

.block-team small {
	text-transform: uppercase;
	font-size: .7rem;
	color: red;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 10px;

}

.block-team .paragraph {
	text-align: center;
	padding: 0rem 3rem 0rem 0rem;

}

.block-team .social-media .fab {
	margin: 4px;
	font-size: 18px;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	color: red;
}


.contact-right {
	margin-top: 0px;
	min-height: 750px;
	background-image: /*linear-gradient(100deg, rgba(12,32,51,0.55),rgba(12,32,51,0.74)),*/ url(mount5.jpg);
	background-position: 0px 0px, 100% 50%;
	background-size: auto contain;
	background-attachment: scroll scroll;
	object-fit: cover;
	-o-object-fit: cover;	
}

.contact-section {
	padding: 5rem 0rem 1rem 0rem;
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 40px;
}

.contact-left .paragraph {
	padding: 0rem 3rem 0rem 0rem;
	font-size: 1rem;
	line-height: 1.2;
}

strong {
	font-weight: 700;

}

.phone-mail-link {
	color: white;
	font-weight: bold;
}

.phone-mail-link:hover {
	color: red;
}

#contact-form {
	margin-top: 40px;
}

#contact-form .form-control {
	background: #2e353f;
	border: none;
	border-radius: .3rem;
	box-shadow: none;
	font-weight: 300;
	outline: medium none;
	padding: 1rem 2rem;
	font-size: 1rem;
	line-height: 1.2;
	height: auto;
	width: 100%;
	columns: #fff;
	margin-bottom: 1rem;
	transition: all .2s ease-in-out;
	text-align: left;
}

#contact-form .form-control:hover,#contact-form .form-control:focus {
	box-shadow: none;
	background: white;
	color: #000;
}

#contact-form textarea.form-control {
	min-height: 8rem;
	resize: none;
}

#contact-form span.sub-text {
	color: #939da5;
	position: absolute;
	font-size: 0.9rem;
	right: 5rem;
	margin: -.8rem 3rem;
}

#contact-form button#valid-form {
	font-weight: 300;
	text-transform: uppercase;
	padding: .5rem 1rem;
	font-size: 0.9rem;
	color: #fff;
	margin-top: 1rem;
	border-radius: 0.7rem;
	border: none;
	display: block;
	margin-bottom: 10rem;
}

#contact-form button#valid-form:hover {
	background: #00e2c0;
}

.copyright {
	position: absolute;
	left: 5rem;
	bottom: -20px;
	font-size: 0.8rem;
	font-weight: 300;
	line-height: 5rem;
	z-index: 999;
}

.gotopbtn .fa{
	font-size: 20px;
	margin: 8px;

}

.gotopbtn {
	position: fixed;
	width: 40px;
	height: 35px;
	bottom: 40px;
	background: #f6faf8;
	right: 50px;
	text-decoration: none;
	text-align: center;
	padding: 2px 2px;
}

